# SDL2 files

lem-in-visualizer/Notes
lem-in-visualizer/libSDL2/Makefile
lem-in-visualizer/libSDL2/build/
lem-in-visualizer/libSDL2/config.log
lem-in-visualizer/libSDL2/config.status
lem-in-visualizer/libSDL2/libtool
lem-in-visualizer/libSDL2/sdl2-config


#executables

lem-in
lem-in-visualizer/visualizer

# SLD2 built

lem-in-visualizer/lib

# SDL2config files

lem-in-visualizer/libSDL2/sdl2-config-version.cmake
lem-in-visualizer/libSDL2/sdl2-config.cmake
lem-in-visualizer/libSDL2/sdl2.pc

# test files.txt

lemin.txt
out.txt
valgrind.txt

# Prerequisites
*.d
.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

.vscode

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
